body {
  margin: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

.circle {
  transition-property: width, height, margin-left, margin-top;
  transition-duration: 2s;
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
  background-color: red;
  border-radius: 50%;
}

